<div class="hidden-background"></div>
<div class="reveal-container">
  <div
    class="mouse-reveal"
    [ngStyle]="{'background-position': mouseX + 'px ' + mouseY + 'px'}">
  </div>
</div>
<main class="main">
    <header>
      <nav>
        <ul class="nav-list">
          <li><a href="#project">About</a></li>
          <li>Projects</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    
    <div class="container">
      <section class="project-section" id="project">
        <h5>{{ introduction }}</h5>
        <h1>{{ name }}</h1>
        <h2>{{ aboutMe }}</h2>
        <h3>Projects: </h3>
        <ul class="project-list">
          @for (project of projects; track project.id) {
            <li class="project-item"><h4 class="project-title">{{ project.name }}<span class="project-text"> - {{ project.description }}</span></h4></li>
          }
          @empty {
            <li>No projects to display.</li>
          }
        </ul>
    </section>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
