h1, h2, h3, h4, h5, h6, p, ul, li, span {
    color: white;
}

nav {
    height: 80px;    
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container {
    min-width: 100%;
    max-width: 100%;
    height: 2000px;
}

.project-section {
    margin: auto;
    margin-top: 100px;
    min-width: 200px;
    max-width: 800px;
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.8em;
}

footer {
    text-align: center;
    margin-top: 50px;
}

h4 span {
    font-weight: normal;
}