<div class="background-layer"></div>
<main class="main">
  <div class="container">
    <header>
      <h5>{{ introduction }}</h5>
      <h1>{{ name }}</h1>
    </header>
  
    <section class="project-section">
      <h2>{{ aboutMe }}</h2>
    </section>
  
    <section class="project-section">
      <h3>Here are some of the projects I've worked on:</h3>
      <ul>
        @for (project of projects; track project.id) {
          <li class="project-item"><h4>{{ project.name }}<span> - {{ project.description }}</span></h4></li>
        }
        @empty {
          <li>No projects to display.</li>
        }
      </ul>
    </section>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
